
body{
    background: linear-gradient(150deg, #10B2FF, #EC1945) ;
    background-size: 400% 400%;
    animation: gradient 2s ease infinite alternate;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes gradient{
    0%{
    background-position: 0% 100%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.login-container {
    background-color: #3f3e3e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #10B2FF;
}


p {
    margin-bottom: 15px;
    color: #6C757D;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
    color: #10B2FF;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #10B2FF;
    border-radius: 4px;
    font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #10B2FF;
    outline: none;
}

.login-btn {
    padding: 10px;
    background-color: #EC1945;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #0056b3;
}

.error-msg {
    color: red;
    display: none; /* inicialmente oculto */
    margin-top: 10px;
}

.signup {
    margin-top: 15px;
    color: #6C757D;
}

.signup a {
    color: #6bb3ff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
